#red {
    color: red;
}

#blue {
    color: blue;
}

#orange {
    color: orange;
}

#green {
    color: green;
}

#yellow {
    color: yellow;
}

.color-title {
    font-weight: normal;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 16px;
}

html {
    background-color: #F5F5F5;
}